body {
    background-color: purple;
    color: white;
}

li {
    background-color: red;
}

.middle-align {
    text-align: center;
}

#button {
    background-color: green;
}

.arbitrary-class {
    background-color: red;
}